/* Código para personalizar las opciones */
<style>
        .container form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container label {
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.container  label input {
  position: absolute;
  left: -9999px;
}

.container label input:checked + span {
  background-color: #414181;
  color: white;
}

.container label input:checked + span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.container label span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #414181;
}

.container label span:hover {
  background-color: #d6d6e5;
}

.container label span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}
/*Código para opción con texto plegable (personalización)*/
    .container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 20px;
    }

    .container label {
      display: block;
      margin-bottom: 10px;
      cursor: pointer;
    }

    .texto-desplegable {
      display: none;
      margin-left: 20px;
      padding: 10px;
      background-color: #f5f5f5;
      border: 1px solid #ccc;
      width: 300px;
      word-wrap: break-word;
    }

    .texto-desplegable textarea {
      display: block;
      margin-bottom: 10px;
      width: 100%;
      border: none;
      resize: none;
      height: 100px;
    }

    .container input[type="radio"] {
      display: none;
    }

    .container input[type="radio"]:checked ~ .texto-desplegable {
      display: block;
      }


/* Código para personalizar el fondo de la página */
body {
  height: 100vh;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
  filter: drop-shadow(0 0 0.0px white);
}
/* Código para personalizar el color de las letras */
body {
  color: white;
}
/* Código para personalizar el botón con varias selecciones */
select {
  font-size: 16px;
  padding: 10px;
  background-color: #bababa;
  border: none;
  border-radius: 4px;
  width: 200px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:hover {
  background-color: #e6e6e6;
}

select option {
  font-size: 16px;
  background-color: #f2f2f2;
  color: #000;
}

select option:hover {
  background-color: #e6e6e6;
}

/* Esto sirve para cambiar la altura y anchura de la página, que se encuentra dentro de una barra lateral */
.contenedor {
  height: 100vh; /* altura que ocupa toda la pantalla */
  overflow-y: scroll; /* permitir el desplazamiento vertical */
}

label {
  margin-top: 10px;
}

optgroup {
  border-top: 1px solid #ccc;
  padding-top: 5px;
  margin-top: 5px;
}

.espacio-invisible {
  height: 2vh;
}

.espacio-invisible2 {
  height: 3vh;
}

.espacio-invisible3 {
  height: 2.5vh;
}

.espacio-invisible5 {
  height: 0.6vh;
}

body {
  font-family: "Poppins", sans-serif;
}
 
.linea {
  font-family: "Helvetica", serif;
}
